.filter-house-character {
  display: flex;
  flex-direction: column;
  font-family: $principal-font;
  color: $color-gryffinfor-3;
  align-items: center;
  font-size: 30px;
  justify-content: center;
  margin-top: 20px;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    font-size: 40px;
  }

  &__select-search-house {
    font-family: $principal-font;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 15px;
    border-radius: 10px;
    border: none;

    @media (min-width: $breakpoint-tablet) {
      margin-left: 15px;
    }
  }
}
