.list-character {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px;
    }

    &__not-found {
        font-family: $principal-font;
        color: $color-gryffinfor-1;
        font-size: 75px;
    }
    
}