$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$principal-font: 'font-hp-comun';
$title-font: 'font-hp-titulos';
$color-gryffinfor-1: #740001;
$color-gryffinfor-2: #d3a625;
$color-gryffinfor-3: #eeba30;
$color-ravenclaw-1: #0e1a40;
$color-ravenclaw-2:#946b2d;
$color-ravenclaw-3:#5d5d5d;
$color-slytherin-1: #1a472a;
$color-slytherin-2: #5d5d5d;
$color-slytherin-3: #aaaaaa;
$color-hufflepuff-1: #ecb939;
$color-hufflepuff-2: #372e29;
$color-hufflepuff-3: #726255;



