$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$principal-font: 'font-hp-comun';
$title-font: 'font-hp-titulos';
$color-gryffinfor-1: rgb(155, 31, 27);
$color-gryffinfor-2: rgb(218, 199, 32);
$color-ravenclaw-1: rgba(25, 17, 131, 0.904);
$color-ravenclaw-2: rgb(224, 208, 57);
$color-slytherin-1: rgba(44, 131, 17, 0.904);
$color-slytherin-2: rgb(163, 162, 151);
$color-hufflepuff-1: rgba(198, 207, 62, 0.904);
$color-hufflepuff-2: rgb(138, 136, 125);



